{% extends "store/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_name %} New Alert {% endblock %}
{% block styles %}
{{super()}}

<style>
    .qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
div.qty {
    text-align: center;
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}

</style>
{% endblock %}

{% block content %}

<div class="container">

    <form method="post" class="needs-validation" novalidate action="">


        <h1 class="h3 mb-3 font-weight-normal">New Alert</h1>
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        {{ form.csrf_token }}
        {% if form.csrf_token.errors %}
            <div class="invalid-feedback is-invalid">You have submitted an invalid CSRF token</div>
        {% endif %}

        <div class="row">
            <div class="col-md-6 mb-3">
                <h2>What to alert</h2>

                <div class="form-group">
                    {{ form.url.label }}
                    {{ form.url(class='form-control', type="url", placeholder="Product url", required="required", autofocus="autofocus") }}
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid url.
                        {% if form.url.errors %}
                        <ol>
                            {% for error in form.url.errors %}
                            <li><strong>{{ error }}</strong></li>
                            {% endfor %}
                        </ol>
                        {% endif %}
                    </div>
                </div>


                <div class="form-group">
                    {{ form.price_limit.label }}

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$ or &euro;</div>
                        </div>
                        {{ form.price_limit(class_='form-control', type='number', placeholder="Price limit", required="required") }}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please introduce a valid price limit.
                        </div>
                    </div>
                </div>


            </div>


            <div class="col-md-6 mb-3">
                <h2>Alert settings</h2>
                <div class="form-group">
                    {{ form.check_frequency.label }}
                    <div class="qty">
                        <span class="minus bg-dark">-</span>

                        {{ form.check_frequency(type='number', value='10',min='5', max='10',class='count', id="inputCheckingFreq") }}
                        <span class="plus bg-dark">+</span>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please introduce a valid minutes value.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.alert_email.label(for='inputAlertEmail') }}
                    {{ form.alert_email(class='form-control',id='inputAlertEmail',placeholder='admin@example.com') }}

                    <small id="emailHelpBlock" class="form-text text-muted">
                        You can provide a valid email addresses
                    </small>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please introduce your email to notify you.
                    </div>
                </div>
                <div class="form-group">
                    {{ form.alert_phone(for='inputAlertPhone')}}
                    {{ form.alert_phone(type="phone",class="form-control", placeholder="(210)-202-2332")}}

                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please introduce your phone to notify you.
                    </div>
                </div>
                <div class="form-check">
                    {{ form.active }}

                    <label class="form-check-label" for="defaultCheck1">
                        Active
                    </label>
                </div>

            </div>


        </div>


        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Save Alert</button>

            </div>
            <div class="col-md-2">
                <a class="btn btn-link" href="{{ url_for ('users.user_alerts') }}">Cancel</a>
            </div>

        </div>


    </form>
</div>
{% endblock %}

{% block scripts%}
{{super()}}
<script>
	$(document).ready(function(){

   			$(document).on('click','.plus',function(){
   			if(parseInt($('.count').val()) < 10)
				$('.count').val(parseInt($('.count').val()) + 1 );
    		});
        	$(document).on('click','.minus',function(){
    			$('.count').val(parseInt($('.count').val()) - 1 );
    				if ($('.count').val() == 4) {
						$('.count').val(5);
					}
    	    	});
 		});


$(function() {
'use strict';


    // Example starter JavaScript for disabling form submissions if there are invalid fields
window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {

        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

</script>
{% endblock %}